.buttons__button--inicio {
    position: absolute;
    right: 13%;
    padding: 0.5%;
    background-color: var(--color-white);
    color: grey;
            
  }

  .buttons__button--reg {
    position: absolute;
   right: 6%;
   padding: 0.5%;
   background-color: var(--color-shiny-shamrock);
   color: var(--color-white);
  }
