:root {
    --color-white: #fff;
    --color-issabeline: #eeeded;
    --color-spanish-grey: #989797;
    --color-coral: #FA824C;
    --color-buff: #F1DD7B;
    --color-vanilla: #F5E7A1;
    --color-flame: #E4572E;
    --color-ligh-red-ochre: #E87554;
    --color-pastel-pink: #F2B2A0;
    --color-shiny-shamrock: #4CA866;
    --color-turquoise-green: #9DCFAB;
    --color-pastel-grey: #8DDFC7;
    --color-blue-de-france: #3C91E6;
    --color-blue-jean: #5FA5EA;
    --color-jordy-blue: #82B9EF;
    --color-black: #000000;
    --color-outer-space: #454545;
    --color-quick-silver: #A2A2A2;

  }
  